{% extends 'HD/base.html' %}
{% load staticfiles %}


{% block titleblock %}
    Upload
{% endblock %}

{% block bodyblock %}
    <h2>Genemarker data upload</h2>
    <!-- List of uploaded documents -->
        <!-- Upload form. Note enctype attribute! -->
    <div>
        <form action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %} {{form}}
            <p><input type="submit" value="Upload" /></p>
        </form>
    </div>
    <div>
        {% if gm_files %}
        <h3>Previous Uploads:</h3>
            <ul>
            {% for document in gm_files %}
                <li><a href="{{ document.gm_file.url }}">{{ document.gm_file.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No previous uploads.</p>
        {% endif %}
    </div>

{% endblock %}