<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <title>HD</title>
</head>
<body>
    <h1>Wells</h1>
    <div>
        {% if wells %}
            <ul>
            {% for well in wells %}
                <li>{{ well }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>No Wells found!</strong>
        {% endif %}
    </div><br/>
    <div>
        <a href="/hd/about/">About</a><br />
        <a href=/hd/datasub/>Submit Data</a><br/>
        <a href=/hd/dataview/>View Data</a><br/>
        <h4>Image</h4><br/>
        <img src="{% static 'images/huntingtin.png' %}" alt="Picture of huntingtin" height=200 width=250 /><br/>
    </div>
</body>
</html>