{% extends 'HD/base.html' %}
{% load staticfiles %}


{% block titleblock %}
    Home
{% endblock %}
    
{% block bodyblock %}
    <div>
        {% if worksheet and well %}
            <h1>{{worksheet.ws_number}} {{well.well_name}}</h1>
            <h3>Fragment Sizes</h3>
            <ul>
            {% for fragment in fragments %}
                <li>{{fragment.allele}} {{fragment.size}} {{fragment.dye}}</li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>Not found!</strong>
        {% endif %}
    </div><br/>

{% endblock %}