<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <title>HD</title>
</head>
<body>
    
    <div>
        {% if worksheet %}
            <h1>{{worksheet.ws_number}}</h1>
            <ul>
            {% for well in wells %}
                <li>
                <a href="/hd/worksheet/{{worksheet.slug}}/{{well.well_name}}">{{ well.well_name }} {{ well.sample }}</a>
                </li>                
            {% endfor %}
        {% else %}
            <strong>Worksheet not found!</strong>
        {% endif %}    
            
            </ul>
        
    </div><br/>
    <div>
        <a href=/hd/about/>About</a><br />
        <a href=/hd/datasub/>Submit Data</a><br/>
        <a href=/hd/dataview/>View Data</a><br/>
        <a href=/hd/worksheets/>Browse Data</a><br/>
        <h4>Image</h4><br/>
        <img src="{% static 'images/huntingtin.png' %}" alt="Picture of huntingtin" height=200 width=250 /><br/>
    </div>
</body>
</html>