<!DOCTYPE html>
{% extends 'HD/base_boot-strap.html' %}
{% load staticfiles %}


{% block titleblock %}
    Worksheets
{% endblock %}

{% block bodyblock %}
    <h1>Worksheets</h1>
    <div>
        {% if worksheets %}
            <ul>
            {% for worksheet in worksheets %}
                <li>
                <a href="/hd/worksheet/{{worksheet.slug}}">{{ worksheet.ws_number }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>No Worksheets found!</strong>
        {% endif %}
    </div><br/>
{% endblock %}
